// color
$Very-Dark-Blue: hsl(235, 21%, 11%);
$Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
$Light-Grayish-Blue: hsl(234, 39%, 85%);
$Dark-Grayish-Blue: hsl(234, 11%, 52%);
$Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);

// ========== container ==========
.container {
  margin: 0 350px ;
}
@media(max-width: 1000px) {
  .container {
    margin: 0 100px;
  }
}
@media(max-width: 670px) {
  .container {
    margin: 0 20px;
  }
}

// ========== App ==========
.App-logo {
  h1 {
    font-weight: 700;
    letter-spacing: 10px;
    margin: 0;

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
@media(max-width: 670px) {
  .App-logo {
    h1 {
      font-size: 26px;
    }
  }
}

// ========== AppHeader ==========
.AppHeader-wrapper {
  height: 150px;
  color: #fff;

  .AppHeader {
    line-height: 170px;
  }
}
@media(max-width: 670px) {
  .AppHeader-wrapper {
    height: 110px;

    .AppHeader {
      line-height: 140px;
    }
  }
}


// ========== AddBook, EditBook ==========
.form-container {  
  padding: 30px;
}

// ========== AddBookForm ==========
.AddBookForm {
  margin: 20px 0 5px;
}

// ========== BookList ==========
.BookList {
  // ========== BookListUncompleted, BookListCompleted ==========
  .BookList-container {
    margin: 0 0 30px;

    h2 {
      margin: 0;
      background: linear-gradient(90deg, #ffffff 15%, #FC00FF 100%);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .BookList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      list-style: none;
      list-style-position: outside;
      
      .Book {
        flex-basis: 30%;
        // max-width: 50%;
        padding: 15px;
        margin: 30px 20px;
        border-radius: 30px;
        color: #fff;
        background-color: $Very-Dark-Grayish-Blue;
        
        .Book-img {
          min-height: 200px;
          text-align: center;
          margin: -15px -15px 15px;
          border-top-left-radius: 30px;
          border-top-right-radius: 30px;
          background-color: $Dark-Grayish-Blue;

          img {
            width: 100%;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
          }
        }

        .Book-header {
          text-align: center;

          h3 {
            margin: 10px 0;
          }
        }

        .Book-button-wrapper {
          display: flex;
          justify-content: center;

          button {
            margin: 0 10px;
            background-color: $Dark-Grayish-Blue;
          }
        }
      }
    }
  }
}
// @media(max-width: 1000px) {
//   .BookList {
//     .BookList-container {
//       .BookList {
//         .Book {
//           flex-basis: 5%;
//           // margin: 30px 10px;
//         }
//       }
//     } 
//   }
// }
@media(max-width: 670px) {
  .BookList {
    .BookList-container {
      .BookList {
        flex-wrap: nowrap;
        overflow-x: auto;

        .Book {
          flex-basis: 100%;
          max-width: 70%;
        }
      }

      .BookList::-webkit-scrollbar {
        display: none;
      }
    } 
  }
}

// ========== form ==========
.form-group {
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
  }

  input {
    border-radius: 10px;
    border: none;
    outline: 0;
    color: $Light-Grayish-Blue;
    background: $Very-Dark-Grayish-Blue;
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }

  input:focus {
    color: gray;
    background: #ececec;
  }
}

.form-checkbox {
  input {
    margin: 0 10px;
  }
}

// ========== SubmitButton ==========
.SubmitButton {
  input {
    padding: 15px 30px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #00B7DF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  input:hover, input:focus {
    // font-weight: 500;
    background-color: #02a8ce;
  }
}

// ========== button ==========
.complete-button, .uncomplete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 0 3px;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
  color: $Light-Grayish-Blue;
  cursor: pointer;

  svg {
    font-size: 25px;
  }
}
.complete-button:hover, .uncomplete-button:hover {
  color: #00B7DF;
}

.delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 0 3px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  color: $Light-Grayish-Blue;
  cursor: pointer;

  svg {
    font-size: 25px;
    // margin-top: 3px;
  }
}
.delete-button:hover {
  color: #d56073;
}

.edit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  // margin: 0 3px;
  padding: 5px;
  border-radius: 3px;
  border: none;
  color: $Light-Grayish-Blue;
  // background-color: #d56073;
  cursor: pointer;

  svg {
    font-size: 25px;
    // margin-top: 3px;
  }
}
.edit-button:hover {
  color: #00B7DF;
}

.icon-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

// ========== Footer ==========
footer {
  // position: fixed;
  // bottom: 0;
  margin: 40px 0 20px;

  p {
    font-weight: 600;
    color: $Dark-Grayish-Blue;

    a {
      color: $Dark-Grayish-Blue;
    }
  }
}

// ========== heading ==========
.heading {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 10px 0;
}

.heading::before, .heading::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

.heading:not(:empty)::before {
  margin-right: .25em;
}

.heading:not(:empty)::after {
  margin-left: .25em;
}

// ========== Link ==========
.LinkTo {
  a {
    text-decoration: none;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .add {
    font-size: 11px;
    line-height: 25px;
    background-color: transparent;

    svg {
      font-size: 30px;
    }
  }
  .add:hover {
    background: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .home, .cancel {
    padding: 15px 30px;
    background-color: #d56073;
  }
  .home:hover, .cancel:hover {
    background-color: #d1445c;
  }
}
@media(max-width: 670px) {
  .LinkTo {
    .add {
      svg {
        font-size: 28px;
      }
    }
  }
}

// ========== card ==========
.card {
  border-radius: 30px;
  color: $Dark-Grayish-Blue;
  backdrop-filter: blur(30px) saturate(180%);
  -webkit-backdrop-filter: blur(30px) saturate(180%);
  background-color: rgba(12, 18, 29, 0.8);
}

// ========== shadow ==========
.shadow {
  -moz-box-shadow:    2px 2px 2px 2px $Light-Grayish-Blue;
  -webkit-box-shadow: 2px 2px 2px 2px $Light-Grayish-Blue;
  box-shadow:         2px 2px 2px 2px $Light-Grayish-Blue;
}

// ========== modal ==========
.Modal {
  position: fixed;
  display: flex;
  height: 100px;
  width: 200px;
  padding: 15px;
  left: 30px;
  bottom: 30px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  align-items: center;
  color: $Light-Grayish-Blue;
  background-color: $Very-Dark-Grayish-Blue;
  animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

// ========== flexbox ==========
.flex {
  display: flex;
  align-items: center;
}
// @media(max-width: 670px) {
//   .flex {
//     flex-direction: column;
//   }
// }

.flex-d-column {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

// ========== align items ==========
.center {
  text-align: center;
}

// ========== margin ==========
.m-5 {
  margin: 5px;
}

.m-10 {
  margin: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

