body {
  margin: 0;
  font-family: 'Josefin Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-color: hsl(235, 21%, 11%);
}
@media(max-width: 1000px) {
  body {
    background-image: url(./images/bg-mobile-dark.jpg);
    background-size: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
